.App {
  text-align: center;
  font-style: bold;
  font-family:'Courier New', Courier, monospace
}

nav{
  background-color: #57ab5a;
  color:white;
  display: flex;
  align-items: center;
  min-height:10vh;
  font-size: x-large;
  font-style: bold;
}

li{
  list-style: none;
  padding-left: 10%;
}

.navlink{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

tr{
 
}

td{
  background-color: #d0cfcf4e;
}

th{
  width: 100%;
}

table{
  width: 50%;
  align-items: center;
  border:none;
}